 @font-face {
     font-family: 'Nesto';
     src: url('/fonts/Nestocopper42-1GVw2.ttf') format('truetype');
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Nesto', sans-serif;
     height: 200vh;
     background-color: #0d2f39;
     overflow-x: hidden;
 }

 .intro {
     max-width: 700px;
     margin: 2rem auto;
     padding: 2rem;
     font-family: 'Nesto';
     color: #c0bbbb;
     border-radius: 8px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     line-height: 1.6;
 }

 .intro h3 {
     color: #60a6f0;
     margin-bottom: 1rem;
     font-weight: 700;
     font-size: 1.8rem;
 }

 .intro h4 {
     color: #60a6f0;
 }

 .intro p {
     margin-bottom: 1rem;
     font-size: 1.05rem;
 }


 .intro ul,
 .intro ol {
     margin-left: 1.5rem;
     margin-bottom: 1.5rem;
 }

 .intro ul li,
 .intro ol li {
     margin-bottom: 0.5rem;
     font-size: 1.05rem;
 }

 .intro strong {
     color: #0d7cf3;
 }

 .hermez-header {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 568px;
     background: linear-gradient(180deg, #1ab6e2, #18a3c9);
     clip-path: ellipse(80% 100% at 50% 0%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     transition: all 0.7s ease;
     z-index: 10;
     color: black;
 }

 .hermez-header.scrolled {
     position: fixed;
     height: 80px;
     clip-path: inset(0 0 0 0 round 0);
     background: linear-gradient(180deg, #1ab6e2, #18a3c9);
     flex-direction: row;
     justify-content: space-between;
     padding: 0 2rem;
 }

 /* --- Logo and Title --- */
 .hermez-logo-container {
     display: flex;
     align-items: center;
     gap: 1rem;
     transition: all 0.7s ease;
 }

 .hermez-logo-container img {
     width: 370px;
     height: auto;
     transition: all 0.7s ease;
 }

 .hermez-header.scrolled .hermez-logo-container img {
     width: 120px;
 }

 .hermez-title {
     font-size: 9rem;
     font-weight: 800;
     color: #ffcd00;
     transition: all 0.7s ease;
 }

 .hermez-header.scrolled .hermez-title {
     font-size: 2.5rem;
 }

 .hermez-domain {
     font-size: 3.5rem;
     color: black;
     font-weight: 700;
     transition: all 0.7s ease;
 }

 .hermez-header.scrolled .hermez-domain {
     font-size: 1rem;
 }

 .hermez-tagline {
     margin-top: 0.5rem;
     font-style: italic;
     font-size: 2.1rem;
     transition: opacity 0.5s ease;
 }

 .hermez-header.scrolled .hermez-tagline {
     margin-top: 0.5rem;
     font-style: italic;
     font-size: 1.7rem;
     transition: opacity 0.5s ease;
 }

 main {
     margin-top: 260px;
     padding: 2rem;
 }

 .car-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 2rem;
     justify-items: center;
     align-items: center;
     margin: 0 auto;
     max-width: 900px;
 }

 .car {
     width: 210px;
     height: 230px;
     border-radius: 15px;
     border: 2px solid black;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 4px 16px rgba(30, 30, 30, 0.07);
 }

 .car img {
     width: 150px;
     height: 120px;
     object-fit: contain;
     margin-bottom: 0.5rem;
 }

 .car h2 {
     font-size: 1.5rem;
     color: #333;
     font-family: 'Calibri', sans-serif;
     margin: 0;
     font-weight: 700;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .car-type-body {
     background: rgba(21, 31, 40, 0.81);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(7.6px);
     -webkit-backdrop-filter: blur(7.6px);
     border: 1px solid rgba(21, 31, 40, 0.3);
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }